table {
  margin: 10px;
  border-collapse: collapse;
  td, th {
    border: 1px solid gray;
  }
  th {
    background: #dddddd;
  }
}

div.popup-div {
  label {
    margin-left: 5px;
    span {
      background-color: #eee;
      border: 1px solid gray;
      border-radius: 4px;
      &:hover {
        cursor: pointer;
      }
    }
    .popup {
      display: none;
      background: cyan;
      padding: 0 10pt;
      box-sizing: border-box;
      position: fixed;
      // top: 50%;
      // left: 50%;
      // -webkit-transform: translate(-50%, -50%);
      // transform: translate(-50%, -50%);
    }
    input[type="checkbox"] {
      display: none;
      &:checked + .popup {
        display: block;
      }
    }
  }
}

div.tooltip-div {
  span.tooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
    border: 1px solid gray;
    margin-left: 5px;
    span.button {
      background-color: #eee;
    }
    div.description {
      display: none;
      position: absolute;
      background-color: orange;
      border-radius: 5px;
    }
    &:hover div.description {
      display: inline-block;
      z-index: 1;
      top: 20px;
      left: 0px;
      // top: -70px;
      // left: -30px;
    }
  }
}
